@page
@model foodbank_website.Pages.Events.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 class="page-header">@ViewData["Title"]</h1>

<div class="row justify-content-center">
    <div style="margin-top: 100px; margin-bottom: 100px;">
        <div class="card border-secondary mb-3" style="width: 50rem; padding: 25px;">
            <div class="row justify-content-center">
                <h4>Event</h4>
            </div>
            <hr />

            <div class="row justify-content-center">
                <dl class="row">
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.Event.Title)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.Event.Title)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.Event.Date)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.Event.Date)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.Event.Location)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.Event.Location)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.Event.Description)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.Event.Description)
                    </dd>
                    <dt class="col-sm-5">
                        Total Needed
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.Event.totalMembers)
                    </dd>
                    <dt class="col-sm-5">
                        Current Volunteers
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.Event.currentMembers)
                    </dd>
                    <dt class="col-sm-5">
                        Created By
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.Event.Owner.UserName)
                    </dd>
                </dl>
            </div>
            <div>
                <a class="float-right" asp-page="./Edit" asp-route-id="@Model.Event.ID">Edit</a>
                <a class="float-left" asp-page="../AllEvents">Back to List</a>
            </div>
        </div>
    </div>
</div>